
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div class="body_content">
            <!-- Home Banner Style V1 -->
            <section class="hero-home13 at-home17 overflow-hidden">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-7">
                            <div class="home17-hero-content">
                                <h1 class="banner-title animate-up-1 mb25">Hire Experts & Get Your <br class="d-none d-xl-block">Any Job Done</h1>
                                <p class="text-white text animate-up-2">Work with talented people at the most affordable price to get the most <br class="d-none d-lg-block">out of your time and cost</p>
                                <div class="d-sm-flex align-items-center mt30 animate-up-3">
                                    <a href="/Home/Tasks" class="ud-btn btn-1 me-3 bdrs120 btn-1">Find Work</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 d-none d-xl-block">
                            <div class="home17-hero-img text-center animate-up-1">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="mb30">
                                        <img src="~/assets/images/about%5Chome17-hero-1.png" alt="">
                                    </div>
                                    <div class="mb30 ml40">
                                        <img src="~/assets/images/about%5Chome17-hero-2.png" alt="">
                                    </div>
                                </div>
                                <div>
                                    <img src="~/assets/images/about%5Chome17-hero-3.png" alt="">
                                </div>
                                <div class="iconbox-small1 text-start d-flex wow fadeInRight default-box-shadow4 bounce-y">
                                    <span class="icon flaticon-badge"></span>
                                    <div class="details pl20">
                                        <h6 class="mb-1 text-white">Proof of quality</h6>
                                        <p class="text fz13 mb-0 text-white">HTS</p>
                                    </div>
                                </div>
                                <img class="img-1 bounce-x" src="~/assets/images/about%5Chappy-client-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Need something -->
            <section class="our-features pt-0 pb90 pb30-md">
                <div class="container wow fadeInUp">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-title text-center">
                                <h2>Need something done?</h2>
                                <p class="text">Most viewed and all-time top-selling services</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="iconbox-style1 at-home17-v1 after_style p-0 text-center">
                                <div class="icon before-none"><span class="flaticon-cv"></span></div>
                                <div class="details">
                                    <h4 class="title mt10 mb-3">Post a job</h4>
                                    <p class="text">It’s free and easy to post a job. Simply fill <br class="d-none d-xxl-block"> in a title, description.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="iconbox-style1 at-home17-v1 after_style p-0 text-center">
                                <div class="icon before-none"><span class="flaticon-web-design"></span></div>
                                <div class="details">
                                    <h4 class="title mt10 mb-3">Choose freelancers</h4>
                                    <p class="text">It’s free and easy to post a job. Simply fill <br class="d-none d-xxl-block"> in a title, description.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="iconbox-style1 at-home17-v1 after_style p-0 text-center">
                                <div class="icon before-none"><span class="flaticon-secure"></span></div>
                                <div class="details">
                                    <h4 class="title mt10 mb-3">Pay safely</h4>
                                    <p class="text">It’s free and easy to post a job. Simply fill <br class="d-none d-xxl-block"> in a title, description.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="iconbox-style1 at-home17-v1 p-0 text-center">
                                <div class="icon before-none"><span class="flaticon-customer-service"></span></div>
                                <div class="details">
                                    <h4 class="title mt10 mb-3">We’re here to help</h4>
                                    <p class="text">It’s free and easy to post a job. Simply fill <br class="d-none d-xxl-block"> in a title, description.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- CTA Banner -->
            <section class="cta-banner-about2 at-home17 maxw1700 mx-auto position-relative pt60-lg pb60-lg">
                <div class="container">
                    <div class="row align-items-center wow fadeInDown" data-wow-delay="400ms">
                        <div class="col-lg-7 col-xl-5 offset-xl-1 wow fadeInRight mb60-xs mb100-md">
                            <div class="mb30">
                                <div class="main-title">
                                    <h2 class="title">A whole world of freelance <br class="d-none d-xl-block"> talent at your fingertips</h2>
                                </div>
                            </div>
                            <div class="why-chose-list">
                                <div class="list-one d-flex align-items-start mb30">
                                    <span class="list-icon flex-shrink-0 flaticon-badge"></span>
                                    <div class="list-content flex-grow-1 ml20">
                                        <h4 class="mb-1">Proof of quality</h4>
                                        <p class="text mb-0 fz15">Check any pro’s work samples, client reviews, and identity <br class="d-none d-lg-block"> verification.</p>
                                    </div>
                                </div>
                                <div class="list-one d-flex align-items-start mb30">
                                    <span class="list-icon flex-shrink-0 flaticon-money"></span>
                                    <div class="list-content flex-grow-1 ml20">
                                        <h4 class="mb-1">No cost until you hire</h4>
                                        <p class="text mb-0 fz15">Interview potential fits for your job, negotiate rates, and only pay <br class="d-none d-lg-block"> for work you approve.</p>
                                    </div>
                                </div>
                                <div class="list-one d-flex align-items-start mb30">
                                    <span class="list-icon flex-shrink-0 flaticon-security"></span>
                                    <div class="list-content flex-grow-1 ml20">
                                        <h4 class="mb-1">Safe and secure</h4>
                                        <p class="text mb-0 fz15">Focus on your work knowing we help protect your data and privacy. We’re here with 24/7 support if you need it.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4 wow fadeInLeft">
                            <div class="listbox-style1 px30 py-5 bdrs16 bgc-dark position-relative">
                                <div class="list-style1">
                                    <ul class="mb-0">
                                        <li class="text-white fw500"><i class="far fa-check dark-color bgc-white"></i>The best for every budget</li>
                                        <li class="text-white fw500"><i class="far fa-check dark-color bgc-white"></i>Quality work done quickly</li>
                                        <li class="text-white fw500"><i class="far fa-check dark-color bgc-white"></i>Protected payments, every time</li>
                                        <li class="text-white fw500 mb-0"><i class="far fa-check dark-color bgc-white"></i>24/7 support</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="home10-cta-img bdrs24" src="~/assets/images/about%5Cabout-19.jpg" alt="">
            </section>

            <!-- Funfact -->
            <section class="">
                <div class="container">
                    <div class="row justify-content-center wow fadeInUp" data-wow-delay="300ms">
                        <div class="col-6 col-md-3">
                            <div class="funfact_one mb20-sm text-center">
                                <div class="details">
                                    <ul class="ps-0 mb-0 d-flex justify-content-center">
                                        <li><div class="timer">834</div></li>
                                        <li><span>M</span></li>
                                    </ul>
                                    <p class="text mb-0">Total Freelancer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="funfact_one mb20-sm text-center">
                                <div class="details">
                                    <ul class="ps-0 mb-0 d-flex justify-content-center">
                                        <li><div class="timer">732</div></li>
                                        <li><span>M</span></li>
                                    </ul>
                                    <p class="text mb-0">Positive Review</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="funfact_one mb20-sm text-center">
                                <div class="details">
                                    <ul class="ps-0 mb-0 d-flex justify-content-center">
                                        <li><div class="timer">90</div></li>
                                        <li><span>M</span></li>
                                    </ul>
                                    <p class="text mb-0">Order recieved</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="funfact_one mb20-sm text-center">
                                <div class="details">
                                    <ul class="ps-0 mb-0 d-flex justify-content-center">
                                        <li><div class="timer">236</div></li>
                                        <li><span>M</span></li>
                                    </ul>
                                    <p class="text mb-0">Projects Completed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>